.currentCover {
    position: relative;
    margin-top: 0.12rem;
    width: 2rem;
    height: 2rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.coverLoading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#000, 0.08);
}
