.divider {
    margin: 8px 0;
    background-color: rgba(#000, 0.3);
}

.resultContainer {
    min-height: 200px;
}

.noResult,
.loading {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverItemList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.coverItem {
    position: relative;
    width: 20%;
    padding-top: 20%;
    margin-left: 6.665%;
    margin-top: 12px;
    cursor: pointer;
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.first {
        margin-left: 0;
    }

    &:hover {
        .coverItemActions {
            opacity: 1;
        }
    }
}

.coverItemActions {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.3);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    user-select: none;
}
