.informationProviderContainer {
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgb(0, 122, 204);
}

.resultCard.resultCard {
    display: flex;
    margin-top: 6px;
    min-height: 50px;
    padding: 10px;
}

.noResult,
.error {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
}

.resultList {
    width: 100%;
}

.resultItem {
    border-radius: 2px;
    padding: 8px 12px;
    height: 60px;
    background-color: rgba(#000, 0.04);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.2s;
    &:not(:first-child) {
        margin-top: 80px;
    }
    &:hover {
        background-color: rgba(#000, 0.06);
    }
}

.resultTitle {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.exactMatchTag {
    margin-left: 8px;
}

.resultSubTitle {
    font-size: smaller;
}

.expand {
    margin-top: 8px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
