.setupGuideContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.buttonContainer {
    button {
        height: 36px;
        font-size: 18px;
    }
}

.helpText {
    margin-top: 12px;
    font-size: 14px;
}