.spinnerDialog {
    width: 200px !important;
}

.spinnerContainer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    margin-top: 12px;
    font-size: smaller;
    color: rgba(#000, 0.65);
    user-select: none;
}
