.header {
    height: 24px;
    background-color: rgba(#aaa, 0.15);
}

.currentFileInfo {
    height: 100%;
    padding: 0 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    user-select: none;
}