.setupGuideContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.buttonContainer {
    button {
        height: 0.36rem;
        font-size: 0.18rem;
    }
}

.helpText {
    margin-top: 0.12rem;
    font-size: 0.14rem;
}