.entry {
    height: 100%;
    padding: 0 8px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgb(30, 135, 206);
    }
}

.panel {
    width: 100%;
}
