.sideBar {
    width: 2.88rem;
    height: 100%;
    background-color: rgb(240, 240, 240);
    border-right: 1px solid rgb(228, 228, 228);
}

:global {
    .bp4-tabs {
        height: 100%;
    }
    .bp4-tab-list {
        justify-content: center;
    }
    .bp4-tab-panel {
        height: calc(100% - 0.34rem);
        margin-top: 0.04rem !important;
    }
}
