.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.albumContainer {
    padding: 16px;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: unset;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 0.2rem 0;
    background-color: rgba(0, 0, 0, 0.1);
}
