.albumDirectory {
    height: 100%;
    width: 2.88rem;
    overflow: auto;
}

.loading {
    width: 2.88rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
