.sideBar {
    width: 288px;
    height: 100%;
    background-color: rgb(240, 240, 240);
    border-right: 1px solid rgb(228, 228, 228);
}

:global {
    .bp4-tabs {
        height: 100%;
    }
    .bp4-tab-list {
        justify-content: center;
    }
    .bp4-tab-panel {
        height: calc(100% - 34px);
        margin-top: 4px !important;
    }
}
